p {
  margin: 0px;
}

a {
  text-decoration:none;
}

li {
  list-style-type: none; 
 }

.logo-first-part {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.wrapper-logo-second-part{
  padding-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 9px;
  color: #48484c;
}

.header {
  background-image: url(../assets/img/header-backgraund.jpg);
}

.navigation__item a{
  color:white;
}

.navigation {
  max-width: 446px;
}

.header {
  padding-top: 40px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.header-short-title {
  margin-top: 100px;
  color: #008ed6;
  font-family:'myriad', sans-serif;
  font-size: 14px;
  margin-bottom: 28px;
}

.header-title {
  color: white;
  font-family:'myriad', sans-serif;
  font-size: 48px;
  line-height: 60px;
}

.header-content {
  color: #999999;
  font-family:'myriad', sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin-top: 34px;
  margin-bottom: 66px;
}

.button:hover {
  width: 160px;
  height: 50px;
  color:white;
  background: #008ed6;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

.button {
  width: 160px;
  height: 50px;
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  border: 2px solid #505155;
  border-radius: 2px;
  background: none;
  margin-right: 20px;
}

.header-phone {
  margin-top: 60px;  
}

.main-short-tiile {
  font-family:'myriad', sans-serif;
  font-size: 14px;
  color: #008ed6;
  text-transform: uppercase;
}

.main-title {
  font-family:'myriad', sans-serif;
  font-size: 36px;
  position: relative;
  margin-bottom: 118px;
}

.main-title::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: #008ed6;
  margin-top: 70px;
  margin-left: 0px;
}

.main-title::before {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background: #008ed6;
  margin-top: 70px;
  margin-left: -24px;
  position: absolute;
}

.circle {
  border-radius: 50%;
  background-color: none;
  border: 2px solid #e1e1e1;
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.circle img {
  align-self: center
}

.main-item__title {
  font-family:'myriad', sans-serif;
  font-size: 24px;
  padding-top: 35px;
  padding-bottom: 23px;
}

.main-item__content {
  font-family:'myriad', sans-serif;
  font-size: 18px;
  color: #b7b7b7;
  margin-bottom: 78px;
}

.line {   
  height: 2px;
  max-width: 1440px;
  background: #ededed;
  margin: 0 auto;
}

.section-phone {
  padding-top: 65px;
  padding-bottom: 77px;
}

.section-short-title {
  font-family:'myriad', sans-serif;
  font-size: 14px;
  color: #008ed6;
  text-transform: uppercase;
  padding-top: 118px;
}

.section-title {
  font-family:'myriad', sans-serif;
  font-size: 36px;
  position: relative;
  margin-bottom: 66px;
}

.section-title::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: #008ed6;
  margin-top: 27px;
  margin-left: 24px;
}

.section-title::before {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background: #008ed6;
  margin-top: 70px;
  margin-left: 0px;
  position: absolute;
}

.section-content {
  color: #b7b7b7;
  font-family:'myriad', sans-serif;
  font-size: 18px;
  padding-bottom: 43px;
}

.wrapper-item p {
  display: inline-block;  
  padding-bottom: 20px;
  font-family:'myriad', sans-serif;
  font-size: 18px;  
  padding-left: 10px;
}

.wrapper-item img {
  padding-bottom: 7px;
}

.customize-short-title {
  font-family:'myriad', sans-serif;
  font-size: 14px;
  color: #008ed6;
  text-transform: uppercase;
  padding-top: 118px;
}

.customize-title {
  font-family:'myriad', sans-serif;
  font-size: 36px;
  position: relative;
  margin-bottom: 66px;
}

.customize-title::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: #008ed6;
  margin-top: 27px;
  margin-left: 24px;
}

.customize-title::before {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background: #008ed6;
  margin-top: 70px;
  margin-left: 0px;
  position: absolute;
}

.customize-content {
  color: #b7b7b7;
  font-family:'myriad', sans-serif;
  font-size: 18px;
  padding-bottom: 43px;
}

.customize {
  max-width: 1440px;
  background: #f2f2f2;
  margin: 0 auto;
}

.costomize-img {
  padding-top: 65px;
}

.pricing-short-tiile {
  font-family:'myriad', sans-serif;
  font-size: 14px;
  color: #008ed6;
  text-transform: uppercase;
  padding-top: 65px;
}

.pricing-title {
  font-family:'myriad', sans-serif;
  font-size: 36px;
  position: relative;
  margin-bottom: 118px;
  color: white;
}

.pricing-title::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: #008ed6;
  margin-top: 70px;
  margin-left: 0px;
}

.pricing-title::before {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background: #008ed6;
  margin-top: 70px;
  margin-left: -24px;
  position: absolute;
}

.pricing {
  background-image: url(../assets/img/section-backgraund.jpg);
  max-width: 1440px;
  margin: 0 auto;
}

.pricing-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.wrapper-name-profession {
  margin-left: 15px;
}

.pricing-content {
  font-family:'myriad', sans-serif;
  font-size: 24px;
  color: white;
}

.wrapper-author {
  margin-top: 30px;
  margin-bottom: 190px;
}

.name {
  font-family:'myriad', sans-serif;
  font-size: 16px;
  color: white;
}

.profession {
  font-family:'myriad', sans-serif;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
}

.great-theme-content {
  font-family:'myriad', sans-serif;
  font-size: 32px;
  color: white;
}

.great-theme {
  background: #15141a;
  max-width: 1440px;
  margin: 0 auto;
}

.plans-short-tiile {
  font-family:'myriad', sans-serif;
  font-size: 14px;
  color: #008ed6;
  text-transform: uppercase;
  padding-top: 65px;
}

.plans-title {
  font-family:'myriad', sans-serif;
  font-size: 36px;
  position: relative;
  margin-bottom: 118px;
  color: black;
}

.plans-title::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: #008ed6;
  margin-top: 70px;
  margin-left: 0px;
}

.plans-title::before {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background: #008ed6;
  margin-top: 70px;
  margin-left: -24px;
  position: absolute;
}
